.sp{
    padding: 0px;
}
.centrar{
    display: flex;
    align-items: center;
}
.bg-gray{
    background-color: #f5f5f5;
}
.imgD{
    height: 200px;
}
.stiky{
    position: sticky;
    top: 0px;
}
.mintext{
    font-size: 10px;
}